In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split 
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
import pickle
import matplotlib.pyplot as plt
from sklearn.decomposition import KernelPCA
from sklearn.model_selection import GridSearchCV

In [3]:
def perform_kpca(indpen_X,dep_Y,n): 
    kpca = KernelPCA(n_components = n, kernel = 'rbf')
    X_train = kpca .fit_transform(indpen_X,dep_Y)
    return kpca, X_train

In [4]:
def split_scalar(indep_X,dep_Y):
        X_train, X_test, y_train, y_test = train_test_split(indep_X, dep_Y, test_size = 0.25, random_state = 0)
        sc = StandardScaler()
        X_train = sc.fit_transform(X_train)
        X_test = sc.transform(X_test)    
        return X_train, X_test, y_train, y_test

In [5]:
def cm_predition (classifier,X_test):
    y_pred = classifier.predict(X_test)
    from sklearn.metrics import confusion_matrix
    cm = confusion_matrix(y_test, y_pred)
    from sklearn.metrics import accuracy_score
    accuracy= accuracy_score(y_test, y_pred)
    return cm,accuracy,classifier

In [6]:
def logistic(X_train, y_train,X_test):
    from sklearn.linear_model import LogisticRegression
    classifier = LogisticRegression(random_state = 0)
    classifier.fit(X_train, y_train)
    cm,accuracy,classifier = cm_predition(classifier,X_test)
    return cm,accuracy,classifier

def svm_linear(X_train,y_train,X_test):
    from sklearn.svm import SVC
    classifier = SVC(kernel = 'linear', random_state = 0)
    classifier.fit(X_train, y_train)
    cm,accuracy,classifier = cm_predition(classifier,X_test)
    return  cm,accuracy,classifier

def svm_NL(X_train,y_train,X_test):
    from sklearn.svm import SVC
    classifier = SVC(kernel = 'rbf', random_state = 0)
    classifier.fit(X_train, y_train)
    cm,accuracy,classifier = cm_predition(classifier,X_test)
    return  cm,accuracy,classifier

def Navie(X_train,y_train,X_test):
    # Fitting K-NN to the Training set
    from sklearn.naive_bayes import GaussianNB
    classifier = GaussianNB()
    classifier.fit(X_train, y_train)
    cm,accuracy,classifier = cm_predition(classifier,X_test)
    return  cm,accuracy,classifier


def knn(X_train,y_train,X_test):
    # Fitting K-NN to the Training set
    from sklearn.neighbors import KNeighborsClassifier
    classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
    classifier.fit(X_train, y_train)
    cm,accuracy,classifier = cm_predition(classifier,X_test)
    return  cm,accuracy,classifier

def Decision(X_train,y_train,X_test):
    # Fitting K-NN to the Training set
    from sklearn.tree import DecisionTreeClassifier
    classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
    classifier.fit(X_train, y_train)
    cm,accuracy,classifier = cm_predition(classifier,X_test)
    return  cm,accuracy,classifier


def random(X_train,y_train,X_test):
    # Fitting K-NN to the Training set
    from sklearn.ensemble import RandomForestClassifier
    classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
    classifier.fit(X_train, y_train)
    cm,accuracy,classifier = cm_predition(classifier,X_test)
    return  cm,accuracy,classifier

def cm_predition (classifier,X_test):
    y_pred = classifier.predict(X_test)
    from sklearn.metrics import confusion_matrix
    cm = confusion_matrix(y_test, y_pred)
    from sklearn.metrics import accuracy_score
    accuracy= accuracy_score(y_test, y_pred)
    return cm,accuracy,classifier

In [20]:
def kpca_classifier(acclog,accsvmlin,accsvmnl,accnav,accknn,accdec,accrand):
    
    dataframe=pd.DataFrame(index=['KPCA n=3'],columns=['Logistic','SVMlin','SVMNL','Navie','KNN','DT','RF'])
   
    for number,index in enumerate(dataframe.index):
        dataframe['Logistic'][index]=acclog[number]
        dataframe['SVMlin'][index]=accsvmlin[number]
        dataframe['SVMNL'][index]=accsvmnl[number]
        dataframe['Navie'][index]=accnav[number]
        dataframe['KNN'][index]=accknn[number]
        dataframe['DT'][index]=accdec[number]
        dataframe['RF'][index]=accrand[number]
    return dataframe

In [21]:
import pandas as pd

# Load the dataset
dataset1 = pd.read_csv("predictive_maintenance.csv")

# Perform one-hot encoding for the "Type" column
type_dummies = pd.get_dummies(dataset1['Type'], prefix='Type')

# Concatenate the encoded columns back to the original DataFrame
df2 = pd.concat([dataset1, type_dummies], axis=1)

# Drop the original "Type" column if needed
df2.drop('Type', axis=1, inplace=True)

# Define independent variables (features) and dependent variable (target)
indpen_X = df2.drop(["UDI", "Product ID", "Failure Type"], axis=1)
dep_Y = df2['Failure Type']

In [22]:
df2

,UDI,Product ID,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type,Type_H,Type_L,Type_M
0,1,M14860,298.1,308.6,1551,42.8,0,0,No Failure,0,0,1
1,2,L47181,298.2,308.7,1408,46.3,3,0,No Failure,0,1,0
2,3,L47182,298.1,308.5,1498,49.4,5,0,No Failure,0,1,0
3,4,L47183,298.2,308.6,1433,39.5,7,0,No Failure,0,1,0
4,5,L47184,298.2,308.7,1408,40.0,9,0,No Failure,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,M24855,298.8,308.4,1604,29.5,14,0,No Failure,0,0,1
9996,9997,H39410,298.9,308.4,1632,31.8,17,0,No Failure,1,0,0
9997,9998,M24857,299.0,308.6,1645,33.4,22,0,No Failure,0,0,1
9998,9999,H39412,299.0,308.7,1408,48.5,25,0,No Failure,1,0,0
9999,10000,M24859,299.0,308.7,1500,40.2,30,0,No Failure,0,0,1

In [23]:
kpca,X_train_kpca= perform_kpca(indpen_X,dep_Y,5)
# created a empty list to append the final value
acclog=[]
accsvmlin=[]
accsvmnl=[]
accnav=[]
accknn=[]
accdec=[]
accrand=[]

In [24]:
X_train, X_test, y_train, y_test=split_scalar(X_train_kpca,dep_Y)

cm,accuracy,classifier=logistic(X_train,y_train,X_test)
acclog.append(accuracy)

cm,accuracy,classifier=svm_linear(X_train,y_train,X_test)
accsvmlin.append(accuracy)

cm,accuracy,classifier=svm_NL(X_train,y_train,X_test)
accsvmnl.append(accuracy)

cm,accuracy,classifier=Navie(X_train,y_train,X_test)
accnav.append(accuracy)

cm,accuracy,classifier=knn(X_train,y_train,X_test)
accknn.append(accuracy)

cm,accuracy,classifier=Decision(X_train,y_train,X_test)
accdec.append(accuracy)

cm,accuracy,classifier=random(X_train,y_train,X_test)
accrand.append(accuracy)
    
result =kpca_classifier(acclog,accsvmlin,accsvmnl,accnav,accknn,accdec,accrand)

In [25]:
result#3

         Logistic  SVMlin   SVMNL   Navie     KNN    DT     RF
KPCA n=3   0.9652  0.9652  0.9652  0.0848  0.9628  0.94  0.958

In [18]:
result#4

         Logistic  SVMlin   SVMNL   Navie     KNN    DT     RF
KPCA n=4   0.9652  0.9652  0.9652  0.0848  0.9644  0.94  0.958

In [12]:
result#5

         Logistic  SVMlin   SVMNL   Navie     KNN    DT     RF
KPCA n=5   0.9652  0.9652  0.9652  0.0848  0.9644  0.94  0.958

In [15]:
result#6

         Logistic  SVMlin   SVMNL   Navie    KNN     DT      RF
KPCA n=6   0.9652  0.9652  0.9652  0.0848  0.964  0.942  0.9604