<div style="color:red;background-color:lime;padding:3%;border-radius:150px 150px;font-size:2em;text-align:center">Data analysis with-LR-DT-RF-and-SVM-99.6% AUC</div>

![](https://j.gifs.com/76kDrQ.gif)

In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [2]:
#Default theme
sns.set_theme(palette='tab10',
              font='Lucida Calligraphy',
              font_scale=1.5,
              rc=None)

import matplotlib
matplotlib.rcParams.update({'font.size': 15})
plt.style.use('dark_background')

In [3]:
pd.set_option("display.max_columns",None)
pd.set_option("display.max_rows",None)

In [5]:
df=pd.read_csv("predictive_maintenance.csv")
df = df.drop(["UDI","Product ID"],axis=1)
df.sample(6).style.set_properties(
    **{
        'background-color': 'Brown',
        'color': 'white',
        'border-color': 'White'
    })

In [6]:
## Converting temperature in centigrate from Kelvin [1 K = -272.15 째C  ] 

df["Air temperature [K]"] = df["Air temperature [K]"] - 272.15
df["Process temperature [K]"] = df["Process temperature [K]"] - 272.15

# Renaming temperature in Centigrate(째C) from Kelvin (K)
df.rename(columns={"Air temperature [K]" : "Air temperature [째C]","Process temperature [K]" : "Process temperature [째C]"},inplace=True)

In [7]:
df["Temperature difference [째C]"] = df["Process temperature [째C]"] - df["Air temperature [째C]"]
df.sample(6)

,Type,Air temperature [째C],Process temperature [째C],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type,Temperature difference [째C]
3780,L,30.25,38.95,1446,42.9,5,0,No Failure,8.7
3546,M,29.75,38.75,1317,51.9,40,0,No Failure,9.0
4563,L,30.55,38.55,1977,20.0,21,0,No Failure,8.0
7268,L,28.35,38.45,1543,36.2,30,0,No Failure,10.1
1722,M,26.05,35.55,1952,21.6,93,0,No Failure,9.5
6133,L,28.95,38.95,1470,40.9,125,0,No Failure,10.0

In [8]:
display(df.shape)
display(df.size)

(10000, 9)

90000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Type                         10000 non-null  object
 1   Air temperature [째C]         10000 non-null  float64
 2   Process temperature [째C]     10000 non-null  float64
 3   Rotational speed [rpm]       10000 non-null  int64
 4   Torque [Nm]                  10000 non-null  float64
 5   Tool wear [min]              10000 non-null  int64
 6   Target                       10000 non-null  int64
 7   Failure Type                 10000 non-null  object
 8   Temperature difference [째C]  10000 non-null  float64
dtypes: float64(4), int64(3), object(2)
memory usage: 703.2+ KB

In [65]:
df.columns

Index(['Type', 'Air temperature [째C]', 'Process temperature [째C]',
       'Rotational speed [rpm]', 'Torque [Nm]', 'Tool wear [min]', 'Target',
       'Failure Type', 'Temperature difference [째C]'],
      dtype='object')